@media only screen and (max-width: 800px) {
.profile figure img {
  width: 150px;

}

.name p{
  font-size: 1.5em;

}
.social-networks{
  margin: 50px auto 0px auto;
}

.social-networks a{
  margin-top: 0px;
  font-size: 300%;
  margin: 10px;
  padding: 15px;
}

.social-networks a span{
 display: none;
}

}
