@font-face {
  font-family: RobotoL;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

.background img{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  object-fit: cover;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#particles-js {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
}

.container{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.profile {
  width: auto;
  margin: 0 auto;
  z-index: 1;
}

.profile figure {
  background-repeat: no-repeat;
  margin: auto;
}

.profile figure img {
  width: 200px;
  height: auto;
  margin: auto;
  -webkit-filter: none;
  filter: none;
  display: block;
  border-radius: 50%;
  border: solid #FFF 2.5px;
  position: relative;
}

.name {
  width: 90%;
  margin: 50px auto 0px auto;
  text-align: center;
}

.name p{
  font-size: 2em;
  font-family: RobotoL, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: .6em;
  color : #fff;
  position: relative;
  text-shadow: 5px 5px #000;
  position: relative;
}

.social-networks{
  width: 90%;
  margin: 100px auto 0px auto;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-around;;
          justify-content: space-around;
  -webkit-flex-direction: row;
          flex-direction: row;
  flex-wrap: wrap;
}

.social-networks a{
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  font-size: 300%;
  position: relative;
  text-shadow: 3px 3px #000;
}
.social-networks a:hover{
  color: #00aeff;
  transform: scale(1.2);
  transition: ease-out 0.5s;
}

.social-networks a span{
  font-family: RobotoL, Arial, Helvetica, sans-serif;
  font-size: 22%;
  letter-spacing: .7em;
  margin-top: 20px;
  text-align: center;
  display: block;
  text-shadow: 5px 5px #000;
}
